<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{book.title}}</h1>
    <form method="post">
        {% csrf_token %}
        <label>ID : {{book.id}}</label>
    </form>
    <p>Description : {{book.desc}}</p>
    <p>Authors :</p>
    {% for author in authors %}
    <ul>
        <li>{{author.first_name}} {{author.last_name}}</li>
    </ul>
    {% endfor %}
    <form action="/adding_author" method="post">
        {% csrf_token %}
        <input type="hidden" name="book_id" value="{{book.id}}">
        <select name="add_author">
            {% for all in all_authors %}
            <option value="{{all.id}}">{{all.first_name}} {{all.last_name}}</option>
            {% endfor %}
            
        </select>
        <button type="submit">Add</button>
    </form>
</body>
</html>