<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Surver Index</title>
</head>
<body>
    <form action="/result" method="post">
        {% csrf_token %}
        <div class="container">
            <label>Your Name:</label>
            <input type="text" name="name"><br>
            <label>Dojo Location:</label>
            <select name="location">
                <option value="San Jose">san jose</option>
                <option value="New York">new york</option>
                <option value="California">california</option>
            </select><br>
            <label>Favourite Langugage:</label>
            <select name="language">
                <option value="Python">python</option>
                <option value="JavaScript">java script</option>
                <option value="HTML">html</option>
            </select><br>
            <label>Comment:</label><br>
            <textarea name="comment" rows="6" cols="50"></textarea><br>
            <button type="submit" name="submit">Button</button>
            
        </div>
    </form>
</body>
</html>