<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Are you sure you want to delete the following course?</h3>
    
    <label>Name:</label> <span>{{course.name}}</span><br>
    <label>Description:</label> <span>{{course.desc}}</span><br>
    <form action="/">
        <button type="submit">No</button>
    </form>
    <form action="/destroy_it" method="post">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{course.id}}">
        <button type="submit">Yes! I want to delete this</button>
    </form>
</body>
</html>