<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div><a href="/logout">logout</a></div>
    <div>
        <h1>Add a Favourite Book</h1>
        <form action="/add_book" method="post">
            {% csrf_token %}
            <label>Title: </label><input type="text" name="title"><br>
            <label>Description: </label><textarea name="desc" rows="2" cols="20"></textarea><br>
            <button type="submit">Add</button>
        </form>
    </div>
    <div class="errors">
        {% if messages %}
        <ul class="messages">    
            {% for message in messages %}    
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div class="books_list">
        <h2>All Books</h2>
        {% for book in books %}
        <a href="/books/{{book.id}}">{{book.title}}</a>
        <p>(added by {{user.first_name}} {{user.last_name}})</p>
            {% if user in book.users_who_like.all %}
                <p>(you already like this book)</p>
            {% else %}
                <p>Like this Book</p>
            {% endif %}
        {% endfor %}

    </div>
</body>
</html>