<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container">
        
        <div class="block">
            <form action="/register" method="post">
            {% csrf_token %}
            <h1>Registration</h1>
            <label>First Name</label><input type="text" name="first_name"><br>
            <label>Last Name</label><input type="text" name="last_name"><br>
            <label>E-mail</label><input type="text" name="email"><br>
            <label>Password</label><input type="password" name="password"><br>
            <label>Confirm Password</label><input type="password" name="confirm"><br>
            <button type="submit">Register</button>
            </form>
        </div>
        
        <div class="block">
            <form action="/login" method="post">
                {% csrf_token %}
                <h1>Login</h1>
                <label>E-mail</label><input type="text" name="email2"><br>
                <label>Password</label><input type="password" name="password2"><br>
                <button type="submit">Submit</button>   
            </form>
        </div>
    </div>
    <div class="errors">
        {% if messages %}
        <ul class="messages">    
            {% for message in messages %}    
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</body>
</html>