<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Great Number Game</title>
</head>
<body>
    <h1>Welcome to the great number game!</h1>
    <p>I am thinking of a number between 1 and 100<br>Take a guess!</p>
    <form action="process" method="post" >
        {% csrf_token %}
        <input type="text" name="the_guess">
    <input type="submit" value="Submit">
    </form>
    <form>
        {% csrf_token %}
        <div class="statement">
            <p>{% if request.session.the_guess > guess %}
                Too high!
                {% elif request.session.the_guess < guess %}
                Too low!
                {% else %}
                {{request.session.the_guess}} was the number !
                <form action="clr" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Play again">
                </form>
                {% endif %}
            </p>
        </div>
    </form>
</body>
</html>
