<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .withanswers{
            display: flex;
        }
        .standard{
            margin-right: 20px;
        }
    </style>
</head>
<body>
    <h3><u>Submitted Info</u></h3>
    <div class="withanswers">
        <div class="standard">
            <p>Name:</p>
            <p>Dojo Location:</p>
            <p>Favourite language:</p>
            <p>Comment:</p>
        </div>
        <div class="answers">
            <p>{{name}}</p>
            <p>{{loc}}</p>
            <p>{{fav}}</p>
            <p>{{comment}}</p>
        </div>
    </div>
    <form method="get" action="{{url_for('index')}}">
        <button>Go Back</button>
    </form>
</body>
</html>